<div id="<%= dom_id perfil %>">
  <p>
    <strong>Nome:</strong>
    <%= perfil.nome %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= perfil.link.url_curta %>
  </p>

  <p>
    <strong>Nome Usuario:</strong>
    <%= perfil.nome_usuario %>
  </p>

  <p>
    <strong>Seguidores:</strong>
    <%= perfil.seguidores %>
  </p>

  <p>
    <strong>Seguindo:</strong>
    <%= perfil.seguindo %>
  </p>

  <p>
    <strong>Estrelas:</strong>
    <%= perfil.estrelas %>
  </p>

  <p>
    <strong>Contribuicoes:</strong>
    <%= perfil.contribuicoes %>
  </p>

  <p>
    <strong>Url foto:</strong>
    <%= perfil.url_foto %>
  </p>

  <p>
    <strong>Organizacao:</strong>
    <%= perfil.organizacao %>
  </p>

  <p>
    <strong>Localizacao:</strong>
    <%= perfil.localizacao %>
  </p>

</div>
