<div id="<%= dom_id busca %>">
  <p>
    <strong>Perfil:</strong>
    <%= busca.perfil_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= busca.status %>
  </p>

  <p>
    <strong>Mensagem:</strong>
    <%= busca.mensagem %>
  </p>

  <p>
    <strong>Dados:</strong>
    <%= busca.dados %>
  </p>

</div>
